In [2]:
import pandas as pd # загружаем последнюю таблицу
df = pd.read_pickle('df_main (1).pkl')
df

,href,title,description,location,tags,upd,comm,supp,rewards_num,money,rate,days,status
0,https://www.crowdfunder.co.uk/free-assange,Help campaign to Free Julian Assange,Help campaign to Free Julian Assange and Stop ...,"London, Greater London, United Kingdom","[Community, Personal Causes]",22,1242,3576,0,300000,0.61,null,funding
1,https://www.crowdfunder.co.uk/blackout2023,Black Out 2023 | Cannes Lions Festival,Taking Black talent connected to the creative ...,"London, Greater London, United Kingdom","[Business, Music]",0,9,24,0,100000,0.84,null,funding
2,https://www.crowdfunder.co.uk/50-days-to-make-...,50 Days to Make a Difference,Our scientists curate a portfolio of effective...,"London, Greater London, United Kingdom",[Environment],0,11,68,3,150000,0.55,null,funding
3,https://www.crowdfunder.co.uk/saveside,#SAVESIDE,"As of 9th April 2023, Side Gallery will close ...","Newcastle upon Tyne, Tyne and Wear, United Kin...",[Creative & Arts],5,694,1806,0,75000,1.04,null,funding
4,https://www.crowdfunder.co.uk/lets-smash-the-p...,Let's smash the political silence on Brexit,"Everyone knows Brexit isn't working, but polit...","London, Greater London, United Kingdom",[Politics],1,407,2391,6,100000,0.6,null,funding
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,https://www.crowdfunder.co.uk/schumacher,Schumacher International Network for Change (S...,We are raising £25K in 25 days to build a virt...,Totnes,null,2,27,200,8,25225,null,25,success
1948,https://www.crowdfunder.co.uk/ipcuk-scholarships,IPCUK Scholarships,Help build a scholarship fund so that we can s...,London,null,5,26,238,27,24255,null,28,success
1949,https://www.crowdfunder.co.uk/snaffling-pig,Snaffling Pig,A porky brand with the balls to take on the sn...,,null,2,0,92,13,23600,null,42,success
1950,https://www.crowdfunder.co.uk/hookpod-technolo...,Hookpod; technology to save seabirds and turtles,We work to make longline fishing safe for mari...,"Dartington, England, United Kingdom",null,14,42,487,8,72997,null,10,success
1951,https://www.crowdfunder.co.uk/backthebike,University of Surrey - Back the Bike!,Let's pledge to bring a Pool Bike Scheme to th...,"Guildford, England, United Kingdom",null,8,100,466,22,69906,null,33,success

**Обработаем описание проектов.**

In [133]:
import numpy as np

In [13]:
import nltk # импортируем бибилиотеку для NLP
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\anfey\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

Загружаем стоп-слова, которые не несут большого смысла.

In [14]:
stopwords = nltk.corpus.stopwords.words('english')

In [15]:
import string # импортируем модуль для работы со строками

In [16]:
stops = ['', 'th', 'us', 'isnt', 'wont', 'im', 'arent', 'cant', 'couldnt', 'youre', 'youve', 'youll', 'youd', 'shes', 'hes',
                'didnt', 'wasnt', 'werent', 'shouldnt', 'shouldve', 'doesnt', 'havent', 'hadnt', 'mustnt',
        'st', 'yrs', '£', '£k']
stopwords.extend(stops)
print(stopwords) # добавляем слова в стоп-слова

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", '', 'th', 'us', 'isnt', 'wont', 'im', 'arent', 'cant', 'couldnt', 'youre', 'youve', 'youll', 'youd', 'shes', 'hes', 'didnt', 'wasnt', 'werent', 'shouldnt', 'shouldve', 'doesnt', 'havent', 'hadnt', 'mustnt', 'st', 'yrs', '£', '£k']

Далее последовательно адаптируем описание для использования в проекте.

In [134]:
df.description.fillna('Liberty is raising £18,000 to defend human rights in the UK and make millions aware of threats to our rights. Donate now to help us reach our target', inplace=True)

In [135]:
df.description = df.description.apply(lambda x: x.lower().split())

In [136]:
df['description'] = df.description.apply(lambda x: [''.join(char for char in item if char not in string.punctuation) for item in x])

In [137]:
df.description = df.description.apply(lambda x: [''.join([i for i in s if not i.isdigit()]) for s in x])

In [138]:
df.description = df.description.apply(lambda x: [item for item in x if item not in stopwords])

In [14]:
df.description[3]

['april',
 'side',
 'gallery',
 'close',
 'public',
 'due',
 'critical',
 'funding',
 'cuts',
 'cost',
 'living',
 'crisis',
 'help',
 'saveside']

**Распарсим тэги в отдельные перемнные**

In [140]:
exp = df[['tags']].explode('tags') 
dummy = pd.get_dummies(exp)
categories = dummy.groupby(dummy.index).sum()
categories.tail()

,tags_Business,tags_Charities,tags_Community,tags_Community shares,tags_Creative & Arts,tags_Entertainment,tags_Environment,tags_Film and Theatre,tags_Food and Drink,tags_Health & fitness,...,tags_Schools,tags_Social Enterprise,tags_Sports,tags_Technology,tags_Tourism,tags_Transport,tags_Travel,tags_University,tags_Venue,tags_null
1947,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1948,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1949,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1950,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1951,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [141]:
df = df.join(categories)

In [21]:
df.description

0       [help, campaign, free, julian, assange, stop, ...
1       [taking, black, talent, connected, creative, i...
2       [scientists, curate, portfolio, effective, cli...
3       [april, side, gallery, close, public, due, cri...
4       [everyone, knows, brexit, working, politicians...
                              ...
1947    [raising, days, build, virtual, campus, connec...
1948    [help, build, scholarship, fund, support, prac...
1949    [porky, brand, balls, take, snack, market, inn...
1950    [work, make, longline, fishing, safe, marine, ...
1951    [lets, pledge, bring, pool, bike, scheme, univ...
Name: description, Length: 1952, dtype: object

Посмотрим на 200 самых частых значимых слов в описаниях.

In [22]:
common200 = pd.Series(df['description'].explode()).value_counts()[:200] 
#https://stackoverflow.com/questions/29903025/count-most-frequent-100-words-from-sentences-in-dataframe-pandas
common200

help             552
community        316
support          289
raise            282
new              209
                ...
cycle             19
positive          19
enable            19
inspirational     19
outdoor           19
Name: description, Length: 200, dtype: int64

In [23]:
words200 = pd.DataFrame(common200)
words200.reset_index(inplace = True)

In [24]:
words200.rename(columns={'index': 'word', 'description': 'freq'}, inplace=True)

In [25]:
words200

              word  freq
0             help   552
1        community   316
2          support   289
3            raise   282
4              new   209
..             ...   ...
195          cycle    19
196       positive    19
197         enable    19
198  inspirational    19
199        outdoor    19

[200 rows x 2 columns]

В описаниях авторы часто использют слова: помощь, сообщество, поддержка, собрать, новый.

In [31]:
np.array([len(x) for x in df.description]).mean() # средняя длина описания

12.01485655737705

Это, конечно, мало для создания новых метрик, но парсить и хранить все описания проектов это очень трудоёмкий процесс.

**Добавим эмоциональную окраску описания для каждого проекта.**

In [12]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

sentimentAnalyser = SentimentIntensityAnalyzer()

In [235]:
df_sent = pd.read_pickle('df_main (1).pkl') # заполняем NaN
df_sent.description.fillna('Liberty is raising £18,000 to defend human rights in the UK and make millions aware of threats to our rights. Donate now to help us reach our target', inplace=True)

In [143]:
df_sent.description[0]

"Help campaign to Free Julian Assange and Stop the Extradition to the United States. Julian's life and your rights are at stake!"

In [203]:
def calculate_sentiment(text):
    # Run VADER on the text
    scores = sentimentAnalyser.polarity_scores(text)
    # Extract the compound score
    compound_score = scores['compound']
    # Return compound score
    return compound_score

In [144]:
pd.options.mode.chained_assignment = None  # default='warn'

In [236]:
df_compound = df_sent[['description']]
df_compound.description =df_compound.description.apply(lambda x: x.lower())

In [237]:
df_compound #новый датафрейм - срез только с нужными переменными

                                            description
0     help campaign to free julian assange and stop ...
1     taking black talent connected to the creative ...
2     our scientists curate a portfolio of effective...
3     as of 9th april 2023, side gallery will close ...
4     everyone knows brexit isn't working, but polit...
...                                                 ...
1947  we are raising £25k in 25 days to build a virt...
1948  help build a scholarship fund so that we can s...
1949  a porky brand with the balls to take on the sn...
1950  we work to make longline fishing safe for mari...
1951  let's pledge to bring a pool bike scheme to th...

[1952 rows x 1 columns]

In [238]:
df_compound['sentiment_score'] = df_compound.description.apply(calculate_sentiment) # посчитаем sentiment

In [239]:
df_nlp = df_compound
df_nlp['desc_list'] = df.description
df_nlp

,description,sentiment_score,desc_list
0,help campaign to free julian assange and stop ...,0.7840,"[help, campaign, free, julian, assange, stop, ..."
1,taking black talent connected to the creative ...,0.9217,"[taking, black, talent, connected, creative, i..."
2,our scientists curate a portfolio of effective...,0.7430,"[scientists, curate, portfolio, effective, cli..."
3,"as of 9th april 2023, side gallery will close ...",-0.7096,"[april, side, gallery, close, public, due, cri..."
4,"everyone knows brexit isn't working, but polit...",0.0000,"[everyone, knows, brexit, working, politicians..."
...,...,...,...
1947,we are raising £25k in 25 days to build a virt...,0.5106,"[raising, days, build, virtual, campus, connec..."
1948,help build a scholarship fund so that we can s...,0.6597,"[help, build, scholarship, fund, support, prac..."
1949,a porky brand with the balls to take on the sn...,0.7184,"[porky, brand, balls, take, snack, market, inn..."
1950,we work to make longline fishing safe for mari...,0.4404,"[work, make, longline, fishing, safe, marine, ..."
1951,let's pledge to bring a pool bike scheme to th...,0.0000,"[lets, pledge, bring, pool, bike, scheme, univ..."

Далее для создания **новых метрик** нам понадобятся списки слов, котрые ассоциируются с определённым качеством проекта/основателей проекта: надежда, оптимизм, уверенность, устойчивость, инновационность и экологичность.

Мы писали запрос в ChatGPT для приведения этих списков в удобный формат.

In [48]:
optimism_list = ["Aspire", "Aspirer", "Aspires", "Aspiring", "Aspiringly", "Assurance", "Assured", "Assuredly",
         "Assuredness", "Assuring", "Auspicious", "Auspiciously", "Auspiciousness", "Bank",
         "Beamish", "Believe", "Believed", "Believes", "Believing", "Bullish", "Bullishly", "Bullishness",
         "Confidence", "Confident", "Confidently", "Encourage", "Encouraged", "Encourages",
         "Encouraging", "Encouragingly", "Ensuring", "Expectancy", "Expectant", "Expectation",
         "Expectations", "Expected", "Expecting", "Faith", "omen", "Hearten", "Heartened",
         "Heartener", "Heartening", "Hearteningly", "Heartens", "Hope", "Hoped", "Hopeful",
         "Hopefully", "Hopefulness", "Hoper", "Hopes", "Hoping", "Ideal", "Idealist", "Idealistic",
         "Idealistically", "Ideally", "Looking up", "Optimism", "Optimist", "Optimistic",
         "Optimistical", "Optimistically", "Outlook", "Positive", "Positively", "Positiveness",
         "Positivity", "Promising", "Propitious", "Propitiously", "Propitiousness", "Reassure",
         "Reassured", "Reassures", "Reassuring", "Roseate", "Rosy", "Sanguine", "Sanguinely",
         "Sanguineness", "Sanguinity", "Sunniness", "Sunny"]

In [109]:
optimism_list = [word.lower() for word in optimism_list]
optimism_list[0:10]

['aspire',
 'aspirer',
 'aspires',
 'aspiring',
 'aspiringly',
 'assurance',
 'assured',
 'assuredly',
 'assuredness',
 'assuring']

In [49]:
hope_list = ['accomplishments', 'achievements', 'approach', 'aspiration', 'aspire', 'aspired',
'aspirer', 'aspires', 'aspiring', 'aspiringly', 'assurance', 'assurances', 'assure',
'assured', 'assuredly', 'assuredness', 'assuring', 'assuringly', 'assuringness', 'belief',
'believe', 'believed', 'believes', 'believing', 'breakthrough', 'certain', 'certainly',
'certainty', 'committed', 'concept', 'confidence', 'confident', 'confidently',
'convinced', 'dare say', 'deduce', 'deduced', 'deduces', 'deducing', 'desire',
'desired', 'desires', 'desiring', 'energy', 'engage', 'engagement',
'expectancy', 'faith', 'foresaw', 'foresee', 'foreseeing', 'foreseen', 'foresees', 'goal',
'goals', 'hearten', 'heartened', 'heartening', 'hearteningly', 'heartens', 'hope',
'hoped', 'hopeful', 'hopefully', 'hopefulness', 'hoper', 'hopes', 'hoping', 'idea',
'innovation', 'innovative', 'ongoing', 'opportunity', 'promise', 'promising',
'propitious', 'propitiously', 'propitiousness', 'solution', 'solutions', 'upbeat',
'wishes', 'wishing', 'yearn', 'yearning', 'yearning', 'yearns']

In [50]:
resilience_list = ['adamant', 'adamantly', 'assiduous', 'assiduously', 'assiduousness', 'backbone',
'bandwidth', 'bounce', 'bounced', 'bounces', 'bouncing', 'buoyant',
'commitment', 'commitments', 'committed', 'consistent', 'determination',
'determined', 'determinedly', 'determinedness', 'devoted', 'devotedly',
'devotedness', 'devotion', 'trying', 'disciplined',
'dogged', 'doggedly', 'doggedness', 'drudge', 'drudged', 'drudges', 'endurance',
'endure', 'endured', 'endures', 'enduring', 'grit', 'hammer', 'hammered',
'hammering', 'hammers', 'hold', 'immovability', 'immovable',
'immovably', 'indefatigable', 'indefatigableness', 'indefatigably', 'indestructibility',
'indestructible', 'indestructibleness', 'indestructibly', 'intransigence', 'intransigency',
'intransigent', 'keep','keeping ', 'keeps', 'kept',
'labored', 'laboring', 'nevertiring', 'neverwearying', 'perdure', 'perdured', 'perseverance', 'persevere', 'persevered', 'persevering', 'persist', 'persisted',
'persistence', 'persistent', 'persisting', 'pertinacious', 'pertinaciously', 'pertinacity',
'rebound', 'rebounded', 'rebounding', 'rebounds', 'relentlessness', 'remain',
'remained', 'remaining', 'remains', 'resilience', 'resiliency', 'resilient', 'resolute',
'resolutely', 'resoluteness', 'resolve', 'resolved', 'resolves', 'resolving', 'robust',
'sedulity', 'sedulous', 'sedulously', 'sedulousness', 'snapped',
'snapping', 'snaps', 'spring', 'springing', 'springs',
'sprung', 'stalwart', 'stalwartly', 'stalwartness', 'stand', 'standing',
'standing', 'stands', 'stay', 'steadfast', 'steadfastly',
'steadfastness', 'stood', 'strove', 'survive', 'surviving', 'surviving',
'tenacious', 'tenaciously', 'tenaciousness', 'tenacity', 'tough', 'uncompromising',
'uncompromisingly', 'uncompromisingness', 'unfaltering', 'unfalteringly', 'unflagging',
'unrelenting', 'unrelentingly', 'unrelentingness', 'unshakable', 'unshakablely',
'unshakeable', 'unshaken', 'unshaking', 'unswervable', 'unswerved', 'unswerving',
'unswervingly', 'unswervingness', 'untiring', 'unwavered', 'unwavering', 'unweariedness',
'unyielding', 'unyieldingly', 'unyieldingness', 'upheld', 'uphold', 'upholding', 'upholds',
'zeal', 'zealous', 'zealously', 'zealousness']

In [51]:
confidence_list = ['ability', 'accomplish', 'accomplished', 'accomplishes', 'accomplishing',
'accomplishments', 'achievements', 'achieving', 'adept', 'adeptly', 'adeptness',
'adroitness', 'all-in', 'aplomb', 'arrogance', 'arrogant', 'arrogantly',
'assurance', 'assured', 'assuredly', 'assuredness', 'backbone', 'bandwidth', 'belief',
'capable', 'capableness', 'capably', 'certain', 'certainly', 'certainness', 'certainty',
'certitude', 'cocksurely', 'cocksureness', 'cocky', 'commitment', 'commitments',
'committed', 'compelling', 'competence', 'competency', 'competent', 'competently',
'confidence', 'confident', 'confidently', 'conviction', 'effective', 'effectively',
'effectiveness', 'effectual', 'effectually', 'effectualness', 'efficacious', 'efficaciously',
'efficaciousness', 'efficacy', 'equanimity', 'equanimous', 'equanimously', 'expertise',
'expertly', 'fortitude', 'fortitudinous', 'forward', 'forwardness', 'knowhow',
'knowledgability', 'knowledgeable', 'knowledgably', 'masterful', 'masterfully',
'masterfulness', 'masterly', 'mastery', 'overconfidence', 'overconfident', 'overconfidently',
'persuasion', 'power', 'powerful', 'powerfully', 'powerfulness', 'prevailed',
'prevailing', 'prevails', 'prevalence', 'prevalent', 'reassurance', 'reassure', 'reassured',
'reassures', 'reassuring', 'self-assurance', 'selfassured', 'selfassuring', 'selfconfidence',
'selfconfident', 'selfdependence', 'selfdependent', 'selfreliance', 'selfreliant',
'stamina', 'steadily', 'steadiness', 'steady', 'strength', 'strong', 'stronger',
'strongish', 'strongly', 'strongness', 'superior', 'superiority', 'sure', 'surely',
'sureness', 'unblinking', 'unblinkingly', 'undoubtedly', 'undoubting', 'unflappability',
'unflappable', 'unflinching', 'unflinchingly', 'unhesitating', 'unhesitatingly',
'unwavering', 'unwaveringly']

In [230]:
innovation_list = ['creative', 'modern', 'new', 'quality', 'advanced', 'progressive', 'innovational', 'collaborative', 'alternative', 'imaginative', 'complementary', 'technologies', 'unique', 'original', 'forwardlooking', 'information', 'service', 'transportation', 'research', 'entrepreneur', 'efficient', 'integrated', 'pioneering', 'sophisticated', 'inventive', 'dynamic', 'disruptive', 'intelligent', 'unconventional', 'technological', 'entrepreneurial', 'visionary', 'ingenious', 'groundbreaking', 'ambitious', 'efficiency', 'competitiveness', 'productivity', 'experimental', 'alternatives', 'promising', 'endeavors', 'revolutionary', 'exciting', 'designing', 'competitive', 'innovations', 'successful', 'innovation', 'influential', 'fresh', 'combining', 'introducing', 'tech', 'impressive', 'focusing', 'novel', 'talented', 'strategies', 'projects', 'collaboration', 'creating', 'incorporating', 'transformative', 'unusual', 'memorable', 'risky', 'pioneered', 'techniques', 'focused', 'develop', 'create', 'newer', 'brilliant', 'surprising', 'emerging', 'futuristic', 'impactful', 'creativity', 'startup', 'adaptable', 'transformational', 'interactive', 'flexible', 'diverse', 'affordable', 'adaptive', 'proactive', 'utilize', 'devising', 'integrating', 'ideas', 'showcase', 'developing', 'designs', 'technique', 'variety', 'devised', 'conceptual', 'capabilities', 'cuttingedge', 'commerce', 'advantage', 'startup', 'patent', 'innovating', 'partnering', 'integrative', 'customized', 'scalable', 'differentiated', 'unparalleled', 'personalized', 'unrivaled', 'unsurpassed', 'experiential', 'turnkey', 'exceptional', 'multidisciplinary', 'optimized', 'unmatched', 'interdisciplinary', 'distinctive', 'versatile', 'specialized', 'customizable', 'preeminent', 'modular', 'extensible', 'enhanced', 'exemplary', 'unequaled', 'constructible', 'comprehensive', 'diversified']

In [114]:
environment_list = ['environmental', 'energy', 'ecology', 'environment', 'viability', 'biodiversity', 'climate change', 'ecosystem', 'renewability', 'ecological', 'ocean', 'natural', 'resources', 'empowerment', 'solar', 'ethics', 'climate', 'renewable', 'ecosystem', 'ethical', 'sustainable', 'recycling', 'impact', 'well-being', 'green', 'sustainability', 'transparency', 'biomass', 'atmosphere', 'environmental', 'ecotourism', 'ecodesign', 'ecovillages', 'renewables', 'reliability', 'intensity', 'waste', 'degradation', 'nature', 'wetlands', 'regenerative', 'conservation', 'accountability', 'awareness', 'river','renewable', 'resource', 'durability', 'enviro', 'ecosystems', 'diversification', 'environmentally', 'repairability', 'accessibility', 'sufficiency', 'environmentalism','nitrogen', 'esg', 'protection', 'rainforest', 'resourceful', 'healthiness', 'eco', 'ethical', 'safety', 'standards', 'certification', 'earth', 'overexploitation','power','organisms','forests','water','agriculture','composting','gardening','freshwater','pollutants','biosphere','waste','protection','geography']

In [127]:
def psych_capital(text): # функция, которая добавляет балл в психологический капитал за упоминание опр. слов
    score = 0
    for word in text:
        if word in optimism_list:
            score += 1
        if word in hope_list:
            score += 1
        if word in resilience_list:
            score += 1
        if word in confidence_list:
            score += 1
    return score

In [231]:
def innovative(text):  # функция, которая добавляет балл в инновационность за упоминание опр. слов
    score = 0
    for word in text:
        if word in innovation_list:
            score += 1
    return score

In [129]:
def eco(text):  #функция, которая добавляет балл в экологичность за упоминание опр. слов
    score = 0
    for word in text:
        if word in environment_list:
            score += 1
    return score

In [241]:
df_nlp['ps_capital'] = df_nlp['desc_list'].apply(psych_capital)

In [242]:
df_nlp['inn_score'] = df_nlp['desc_list'].apply(innovative)
df_nlp['eco_score'] = df_nlp['desc_list'].apply(eco)

In [243]:
df_nlp # датафрейм с применением функций

,description,sentiment_score,desc_list,ps_capital,inn_score,eco_score
0,help campaign to free julian assange and stop ...,0.7840,"[help, campaign, free, julian, assange, stop, ...",0,0,0
1,taking black talent connected to the creative ...,0.9217,"[taking, black, talent, connected, creative, i...",0,2,0
2,our scientists curate a portfolio of effective...,0.7430,"[scientists, curate, portfolio, effective, cli...",1,0,2
3,"as of 9th april 2023, side gallery will close ...",-0.7096,"[april, side, gallery, close, public, due, cri...",0,0,0
4,"everyone knows brexit isn't working, but polit...",0.0000,"[everyone, knows, brexit, working, politicians...",0,0,0
...,...,...,...,...,...,...
1947,we are raising £25k in 25 days to build a virt...,0.5106,"[raising, days, build, virtual, campus, connec...",0,0,0
1948,help build a scholarship fund so that we can s...,0.6597,"[help, build, scholarship, fund, support, prac...",0,0,0
1949,a porky brand with the balls to take on the sn...,0.7184,"[porky, brand, balls, take, snack, market, inn...",1,1,0
1950,we work to make longline fishing safe for mari...,0.4404,"[work, make, longline, fishing, safe, marine, ...",0,0,0
1951,let's pledge to bring a pool bike scheme to th...,0.0000,"[lets, pledge, bring, pool, bike, scheme, univ...",0,0,0

In [244]:
df_nlp.describe() # посмотрим на статистики

       sentiment_score   ps_capital    inn_score    eco_score
count      1952.000000  1952.000000  1952.000000  1952.000000
mean          0.366046     0.177254     0.277664     0.161373
std           0.426214     0.454303     0.555254     0.457394
min          -0.920100     0.000000     0.000000     0.000000
25%           0.000000     0.000000     0.000000     0.000000
50%           0.457400     0.000000     0.000000     0.000000
75%           0.717950     0.000000     0.000000     0.000000
max           0.972300     5.000000     3.000000     3.000000

In [195]:
from sklearn.preprocessing import MinMaxScaler # можно потом для ML отшкалировать данные

scaler = MinMaxScaler()
df_nlp['ps_capital_scaled'] = scaler.fit_transform(df_nlp['ps_capital'].values.reshape(-1,1))

In [245]:
df_nlp.drop('description', axis = 1, inplace = True)

In [196]:
df_nlp.drop('ps_capital_scaled', axis = 1, inplace = True)

In [246]:
df_nlp.drop('desc_list', axis = 1, inplace = True)

In [247]:
df_nlp

      sentiment_score  ps_capital  inn_score  eco_score
0              0.7840           0          0          0
1              0.9217           0          2          0
2              0.7430           1          0          2
3             -0.7096           0          0          0
4              0.0000           0          0          0
...               ...         ...        ...        ...
1947           0.5106           0          0          0
1948           0.6597           0          0          0
1949           0.7184           1          1          0
1950           0.4404           0          0          0
1951           0.0000           0          0          0

[1952 rows x 4 columns]

In [248]:
df_joined = df.join(df_nlp)
df_joined # добавим в финальный датафрейм все новые метрики

,href,title,description,location,tags,upd,comm,supp,rewards_num,money,...,tags_Tourism,tags_Transport,tags_Travel,tags_University,tags_Venue,tags_null,sentiment_score,ps_capital,inn_score,eco_score
0,https://www.crowdfunder.co.uk/free-assange,Help campaign to Free Julian Assange,"[help, campaign, free, julian, assange, stop, ...","London, Greater London, United Kingdom","[Community, Personal Causes]",22,1242,3576,0,300000,...,0,0,0,0,0,0,0.7840,0,0,0
1,https://www.crowdfunder.co.uk/blackout2023,Black Out 2023 | Cannes Lions Festival,"[taking, black, talent, connected, creative, i...","London, Greater London, United Kingdom","[Business, Music]",0,9,24,0,100000,...,0,0,0,0,0,0,0.9217,0,2,0
2,https://www.crowdfunder.co.uk/50-days-to-make-...,50 Days to Make a Difference,"[scientists, curate, portfolio, effective, cli...","London, Greater London, United Kingdom",[Environment],0,11,68,3,150000,...,0,0,0,0,0,0,0.7430,1,0,2
3,https://www.crowdfunder.co.uk/saveside,#SAVESIDE,"[april, side, gallery, close, public, due, cri...","Newcastle upon Tyne, Tyne and Wear, United Kin...",[Creative & Arts],5,694,1806,0,75000,...,0,0,0,0,0,0,-0.7096,0,0,0
4,https://www.crowdfunder.co.uk/lets-smash-the-p...,Let's smash the political silence on Brexit,"[everyone, knows, brexit, working, politicians...","London, Greater London, United Kingdom",[Politics],1,407,2391,6,100000,...,0,0,0,0,0,0,0.0000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,https://www.crowdfunder.co.uk/schumacher,Schumacher International Network for Change (S...,"[raising, days, build, virtual, campus, connec...",Totnes,null,2,27,200,8,25225,...,0,0,0,0,0,1,0.5106,0,0,0
1948,https://www.crowdfunder.co.uk/ipcuk-scholarships,IPCUK Scholarships,"[help, build, scholarship, fund, support, prac...",London,null,5,26,238,27,24255,...,0,0,0,0,0,1,0.6597,0,0,0
1949,https://www.crowdfunder.co.uk/snaffling-pig,Snaffling Pig,"[porky, brand, balls, take, snack, market, inn...",,null,2,0,92,13,23600,...,0,0,0,0,0,1,0.7184,1,1,0
1950,https://www.crowdfunder.co.uk/hookpod-technolo...,Hookpod; technology to save seabirds and turtles,"[work, make, longline, fishing, safe, marine, ...","Dartington, England, United Kingdom",null,14,42,487,8,72997,...,0,0,0,0,0,1,0.4404,0,0,0
1951,https://www.crowdfunder.co.uk/backthebike,University of Surrey - Back the Bike!,"[lets, pledge, bring, pool, bike, scheme, univ...","Guildford, England, United Kingdom",null,8,100,466,22,69906,...,0,0,0,0,0,1,0.0000,0,0,0

In [87]:
df_joined.columns.values

array(['href', 'title', 'description', 'location', 'tags', 'upd', 'comm',
       'supp', 'rewards_num', 'money', 'rate', 'days', 'status',
       'tags_Business', 'tags_Charities', 'tags_Community',
       'tags_Community shares', 'tags_Creative & Arts',
       'tags_Entertainment', 'tags_Environment', 'tags_Film and Theatre',
       'tags_Food and Drink', 'tags_Health & fitness', 'tags_Heritage',
       'tags_Hospitality', 'tags_Leisure', 'tags_Music', 'tags_Performer',
       'tags_Personal Causes', 'tags_Politics', 'tags_Publishing',
       'tags_Retail', 'tags_Schools', 'tags_Social Enterprise',
       'tags_Sports', 'tags_Technology', 'tags_Tourism', 'tags_Transport',
       'tags_Travel', 'tags_University', 'tags_Venue', 'tags_null',
       'sentiment_score', 'ps_capital', 'inn_score', 'eco_score'],
      dtype=object)

Проверим, нужны ли нам вообще эти новые метрики. Если корреляция с другими признаками не очень высокая, то нужны.

In [249]:
df_tocorr = df_joined[['tags_Business', 'tags_Charities', 'tags_Community',
       'tags_Community shares', 'tags_Creative & Arts',
       'tags_Entertainment', 'tags_Environment', 'tags_Film and Theatre',
       'tags_Food and Drink', 'tags_Health & fitness', 'tags_Heritage',
       'tags_Hospitality', 'tags_Leisure', 'tags_Music', 'tags_Performer',
       'tags_Personal Causes', 'tags_Politics', 'tags_Publishing',
       'tags_Retail', 'tags_Schools', 'tags_Social Enterprise',
       'tags_Sports', 'tags_Technology', 'tags_Tourism', 'tags_Transport',
       'tags_Travel', 'tags_University', 'tags_Venue', 'tags_null',
       'sentiment_score', 'ps_capital', 'inn_score', 'eco_score']]
df_tocorr # таблица с нужными колонками

,tags_Business,tags_Charities,tags_Community,tags_Community shares,tags_Creative & Arts,tags_Entertainment,tags_Environment,tags_Film and Theatre,tags_Food and Drink,tags_Health & fitness,...,tags_Tourism,tags_Transport,tags_Travel,tags_University,tags_Venue,tags_null,sentiment_score,ps_capital,inn_score,eco_score
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.7840,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.9217,0,2,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0.7430,1,0,2
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,-0.7096,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.5106,0,0,0
1948,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.6597,0,0,0
1949,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.7184,1,1,0
1950,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.4404,0,0,0
1951,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0.0000,0,0,0

Вычтем единичную матрицу, чтобы не рассматривать корр. переменных с собой.

In [250]:
corr_df = df_tocorr.corr(method = 'pearson') - np.eye(33)

In [251]:
corr_df['sentiment_score'].abs().nlargest(5)

inn_score               0.112246
ps_capital              0.105529
tags_Personal Causes    0.077933
tags_Hospitality        0.055505
tags_Sports             0.049878
Name: sentiment_score, dtype: float64

In [252]:
corr_df['ps_capital'].abs().nlargest(5)

sentiment_score    0.105529
eco_score          0.069473
tags_Sports        0.058715
tags_Retail        0.047030
tags_Business      0.045091
Name: ps_capital, dtype: float64

In [253]:
corr_df['eco_score'].abs().nlargest(5)

tags_Environment        0.310596
tags_Creative & Arts    0.087624
ps_capital              0.069473
tags_Sports             0.066712
tags_Music              0.060523
Name: eco_score, dtype: float64

In [254]:
corr_df['inn_score'].abs().nlargest(5)

tags_Creative & Arts    0.129307
sentiment_score         0.112246
tags_Personal Causes    0.106313
tags_Charities          0.079494
tags_Politics           0.076160
Name: inn_score, dtype: float64

Топ-5 корреляций для каждого нового признака не очень высокие, поэтому признаки можно оставить.

In [113]:
[word for word in hope_list if word in environment_list] # похожие проверки для всех комбинаций

['energy', 'innovation']

In [126]:
[word for word in confidence_list if word in hope_list] # это взято из научной статьи, поэтому некоторые слова дают больше скор

['accomplishments',
 'achievements',
 'assurance',
 'assured',
 'assuredly',
 'assuredness',
 'belief',
 'certain',
 'certainly',
 'certainty',
 'committed',
 'confidence',
 'confident',
 'confidently']

In [255]:
df_joined

,href,title,description,location,tags,upd,comm,supp,rewards_num,money,...,tags_Tourism,tags_Transport,tags_Travel,tags_University,tags_Venue,tags_null,sentiment_score,ps_capital,inn_score,eco_score
0,https://www.crowdfunder.co.uk/free-assange,Help campaign to Free Julian Assange,"[help, campaign, free, julian, assange, stop, ...","London, Greater London, United Kingdom","[Community, Personal Causes]",22,1242,3576,0,300000,...,0,0,0,0,0,0,0.7840,0,0,0
1,https://www.crowdfunder.co.uk/blackout2023,Black Out 2023 | Cannes Lions Festival,"[taking, black, talent, connected, creative, i...","London, Greater London, United Kingdom","[Business, Music]",0,9,24,0,100000,...,0,0,0,0,0,0,0.9217,0,2,0
2,https://www.crowdfunder.co.uk/50-days-to-make-...,50 Days to Make a Difference,"[scientists, curate, portfolio, effective, cli...","London, Greater London, United Kingdom",[Environment],0,11,68,3,150000,...,0,0,0,0,0,0,0.7430,1,0,2
3,https://www.crowdfunder.co.uk/saveside,#SAVESIDE,"[april, side, gallery, close, public, due, cri...","Newcastle upon Tyne, Tyne and Wear, United Kin...",[Creative & Arts],5,694,1806,0,75000,...,0,0,0,0,0,0,-0.7096,0,0,0
4,https://www.crowdfunder.co.uk/lets-smash-the-p...,Let's smash the political silence on Brexit,"[everyone, knows, brexit, working, politicians...","London, Greater London, United Kingdom",[Politics],1,407,2391,6,100000,...,0,0,0,0,0,0,0.0000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,https://www.crowdfunder.co.uk/schumacher,Schumacher International Network for Change (S...,"[raising, days, build, virtual, campus, connec...",Totnes,null,2,27,200,8,25225,...,0,0,0,0,0,1,0.5106,0,0,0
1948,https://www.crowdfunder.co.uk/ipcuk-scholarships,IPCUK Scholarships,"[help, build, scholarship, fund, support, prac...",London,null,5,26,238,27,24255,...,0,0,0,0,0,1,0.6597,0,0,0
1949,https://www.crowdfunder.co.uk/snaffling-pig,Snaffling Pig,"[porky, brand, balls, take, snack, market, inn...",,null,2,0,92,13,23600,...,0,0,0,0,0,1,0.7184,1,1,0
1950,https://www.crowdfunder.co.uk/hookpod-technolo...,Hookpod; technology to save seabirds and turtles,"[work, make, longline, fishing, safe, marine, ...","Dartington, England, United Kingdom",null,14,42,487,8,72997,...,0,0,0,0,0,1,0.4404,0,0,0
1951,https://www.crowdfunder.co.uk/backthebike,University of Surrey - Back the Bike!,"[lets, pledge, bring, pool, bike, scheme, univ...","Guildford, England, United Kingdom",null,8,100,466,22,69906,...,0,0,0,0,0,1,0.0000,0,0,0

In [256]:
df_joined.to_pickle('df_tags_nlp.pkl')

In [257]:
pd.read_pickle('df_tags_nlp.pkl') # новая таблица с добавленными метриками

,href,title,description,location,tags,upd,comm,supp,rewards_num,money,...,tags_Tourism,tags_Transport,tags_Travel,tags_University,tags_Venue,tags_null,sentiment_score,ps_capital,inn_score,eco_score
0,https://www.crowdfunder.co.uk/free-assange,Help campaign to Free Julian Assange,"[help, campaign, free, julian, assange, stop, ...","London, Greater London, United Kingdom","[Community, Personal Causes]",22,1242,3576,0,300000,...,0,0,0,0,0,0,0.7840,0,0,0
1,https://www.crowdfunder.co.uk/blackout2023,Black Out 2023 | Cannes Lions Festival,"[taking, black, talent, connected, creative, i...","London, Greater London, United Kingdom","[Business, Music]",0,9,24,0,100000,...,0,0,0,0,0,0,0.9217,0,2,0
2,https://www.crowdfunder.co.uk/50-days-to-make-...,50 Days to Make a Difference,"[scientists, curate, portfolio, effective, cli...","London, Greater London, United Kingdom",[Environment],0,11,68,3,150000,...,0,0,0,0,0,0,0.7430,1,0,2
3,https://www.crowdfunder.co.uk/saveside,#SAVESIDE,"[april, side, gallery, close, public, due, cri...","Newcastle upon Tyne, Tyne and Wear, United Kin...",[Creative & Arts],5,694,1806,0,75000,...,0,0,0,0,0,0,-0.7096,0,0,0
4,https://www.crowdfunder.co.uk/lets-smash-the-p...,Let's smash the political silence on Brexit,"[everyone, knows, brexit, working, politicians...","London, Greater London, United Kingdom",[Politics],1,407,2391,6,100000,...,0,0,0,0,0,0,0.0000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,https://www.crowdfunder.co.uk/schumacher,Schumacher International Network for Change (S...,"[raising, days, build, virtual, campus, connec...",Totnes,null,2,27,200,8,25225,...,0,0,0,0,0,1,0.5106,0,0,0
1948,https://www.crowdfunder.co.uk/ipcuk-scholarships,IPCUK Scholarships,"[help, build, scholarship, fund, support, prac...",London,null,5,26,238,27,24255,...,0,0,0,0,0,1,0.6597,0,0,0
1949,https://www.crowdfunder.co.uk/snaffling-pig,Snaffling Pig,"[porky, brand, balls, take, snack, market, inn...",,null,2,0,92,13,23600,...,0,0,0,0,0,1,0.7184,1,1,0
1950,https://www.crowdfunder.co.uk/hookpod-technolo...,Hookpod; technology to save seabirds and turtles,"[work, make, longline, fishing, safe, marine, ...","Dartington, England, United Kingdom",null,14,42,487,8,72997,...,0,0,0,0,0,1,0.4404,0,0,0
1951,https://www.crowdfunder.co.uk/backthebike,University of Surrey - Back the Bike!,"[lets, pledge, bring, pool, bike, scheme, univ...","Guildford, England, United Kingdom",null,8,100,466,22,69906,...,0,0,0,0,0,1,0.0000,0,0,0

Далее нам было интересно посмотреть, имеют ли смысл наши метрики => мы немного изменили слова в исходных списках для инновационности и экологичности.

In [226]:
df_joined['sentiment_score'].nlargest(10)

781     0.9723
1761    0.9719
1087    0.9704
789     0.9651
318     0.9509
275     0.9476
193     0.9413
1503    0.9403
1728    0.9403
469     0.9382
Name: sentiment_score, dtype: float64

In [227]:
df_joined.iloc[[781, 1761, 1087, 789, 318, 275, 193, 1503, 1728, 469]] # действительно, позитивные слова

,href,title,description,location,tags,upd,comm,supp,rewards_num,money,...,tags_Tourism,tags_Transport,tags_Travel,tags_University,tags_Venue,tags_null,sentiment_score,ps_capital,inn_score,eco_score
781,https://www.crowdfunder.co.uk/vestey-holdings-...,Vestey Holdings Prize Draw for Chance to Shine,"[welcome, vestey, holdings, prize, draw, fanta...","Coulsdon, Greater London, United Kingdom","[Sports, Community]",0,6,15,6,600,...,0,0,0,0,0,0,0.9723,0,0,0
1761,https://www.crowdfunder.co.uk/debbie-john---th...,Debbie John - The Hereford Warrior,"[want, give, amazing, brave, beautiful, friend...","London, England, United Kingdom",[Personal Causes],0,183,301,0,null,...,0,0,0,0,0,0,0.9719,0,0,0
1087,https://www.crowdfunder.co.uk/save-our-hope-ho...,Save Our Hope - Become a Hope Saviour,"[save, hope, asking, people, love, hope, rescu...","Thatcham, Berkshire, United Kingdom",[Retail],3,241,450,7,103250,...,0,0,0,0,0,0,0.9704,4,0,0
789,https://www.crowdfunder.co.uk/mufg-london-to-t...,Lee C : MUFG London to Torquay 3-Day Pedalathon,"[donating, precious, gift, free, time, others,...",null,[Charities],0,9,10,0,650,...,0,0,0,0,0,0,0.9651,0,0,0
318,https://www.crowdfunder.co.uk/exeter-kindness-...,Exeter Kindness Mural,"[aim, create, inspirational, mural, fix, rundo...","Exeter, Devon, United Kingdom","[Community, Charities]",0,29,48,1,5000,...,0,0,0,0,0,0,0.9509,0,1,0
275,https://www.crowdfunder.co.uk/runaway-the-coll...,Runaway: The Collaboration & Sweet Charity Choirs,"[watch, fabulous, choirs, something, funny, mo...","London, England, United Kingdom",[Personal Causes],1,63,113,0,null,...,0,0,0,0,0,0,0.9476,0,0,0
193,https://www.crowdfunder.co.uk/starcatchers-sat...,Starcatchers' Saturdays,"[help, provide, inspiring, free, creative, pla...","Edinburgh, United Kingdom",[Creative & Arts],0,19,62,4,null,...,0,0,0,0,0,0,0.9413,0,2,0
1503,https://www.crowdfunder.co.uk/happy-baby-commu...,Happy Baby Community,"[need, help, launch, south, london, happy, bab...","London, England, United Kingdom",[Charities],16,175,409,9,34512,...,0,0,0,0,0,0,0.9403,0,0,0
1728,https://www.crowdfunder.co.uk/the-big-sig-soul,The BIG Sing SOUL giving FREE music resources,"[please, help, fund, free, singing, opportunit...","Solihull, West Midlands, United Kingdom","[Music, Community]",1,15,57,7,26976,...,0,0,0,0,0,0,0.9403,2,0,0
469,https://www.crowdfunder.co.uk/ben-and-matts-co...,Ben and Matts Copenhagen Marathon,"[ben, matt, raising, money, good, friend, luke...",null,"[Charities, Personal Causes]",0,28,34,0,500,...,0,0,0,0,0,0,0.9382,0,0,0

In [176]:
df_joined['ps_capital'].nlargest(5).index

Int64Index([270, 1087, 1072, 1488, 1759], dtype='int64')

In [177]:
df_joined.iloc[[270, 1087, 1072, 1488, 1759]] # авторы исп. слова, которые ассоциируются с надеждой и тд

,href,title,description,location,tags,upd,comm,supp,rewards_num,money,...,tags_Tourism,tags_Transport,tags_Travel,tags_University,tags_Venue,tags_null,sentiment_score,ps_capital,inn_score,eco_score
270,https://www.crowdfunder.co.uk/shoreham-u15-foo...,Shoreham U15's European Football Tour,"[opportunity, young, players, build, team, spi...","Shoreham-by-Sea, West Sussex, United Kingdom","[Community, Sports]",4,43,67,0,3000,...,0,0,0,0,0,0,0.8555,5,2,0
1087,https://www.crowdfunder.co.uk/save-our-hope-ho...,Save Our Hope - Become a Hope Saviour,"[save, hope, asking, people, love, hope, rescu...","Thatcham, Berkshire, United Kingdom",[Retail],3,241,450,7,103250,...,0,0,0,0,0,0,0.9704,4,0,0
1072,https://www.crowdfunder.co.uk/fightingfund,Election Fund: MPs who put country before party,"[want, raise, back, candidates, next, general,...","London, England, United Kingdom",[Politics],0,765,2555,0,112098,...,0,0,0,0,0,0,0.6249,3,0,0
1488,https://www.crowdfunder.co.uk/littledoorandco,Little Door and Co - KEEP OUR DOORS OPEN!,"[keep, doors, open, keep, staff, jobs, help, k...","London, England, United Kingdom","[Business, Hospitality]",2,90,146,13,35460,...,0,0,0,0,0,0,0.4019,3,0,0
1759,https://www.crowdfunder.co.uk/help-the-riversi...,Help The Riverside Survive,"[riverside, cinema, stood, since, surviving, s...","Woodbridge, England, United Kingdom","[Community, Film and Theatre]",5,191,448,0,26201,...,0,0,0,0,0,0,-0.7650,3,0,0

In [258]:
df_joined['inn_score'].nlargest(5).index

Int64Index([8, 169, 237, 389, 411], dtype='int64')

In [259]:
df_joined.iloc[[8, 169, 237, 389, 411]]['description']

8      [develop, practical, inclusive, accessible, id...
169    [donations, doubled, new, community, centre, c...
237    [provide, local, families, opportunity, learn,...
389    [help, turn, online, stationery, business, phy...
411    [high, society, love, lays, keeping, classics,...
Name: description, dtype: object

In [260]:
df_joined['eco_score'].nlargest(5).index

Int64Index([387, 500, 875, 968, 1083], dtype='int64')

In [261]:
df_joined.iloc[[387, 500, 875, 968, 1083]]['description']

387     [wish, restore, ancient, freshwater, habitat, ...
500     [environmental, concert, series, exists, start...
875     [implement, renewable, energy, generation, cro...
968     [worlds, first, community, owned, scotch, malt...
1083    [help, raise, support, womens, cooperatives, v...
Name: description, dtype: object

In [59]:
import pandas as pd
dfl = pd.read_pickle('df_main (1).pkl')
dfl

,href,title,description,location,tags,upd,comm,supp,rewards_num,money,rate,days,status
0,https://www.crowdfunder.co.uk/free-assange,Help campaign to Free Julian Assange,Help campaign to Free Julian Assange and Stop ...,"London, Greater London, United Kingdom","[Community, Personal Causes]",22,1242,3576,0,300000,0.61,null,funding
1,https://www.crowdfunder.co.uk/blackout2023,Black Out 2023 | Cannes Lions Festival,Taking Black talent connected to the creative ...,"London, Greater London, United Kingdom","[Business, Music]",0,9,24,0,100000,0.84,null,funding
2,https://www.crowdfunder.co.uk/50-days-to-make-...,50 Days to Make a Difference,Our scientists curate a portfolio of effective...,"London, Greater London, United Kingdom",[Environment],0,11,68,3,150000,0.55,null,funding
3,https://www.crowdfunder.co.uk/saveside,#SAVESIDE,"As of 9th April 2023, Side Gallery will close ...","Newcastle upon Tyne, Tyne and Wear, United Kin...",[Creative & Arts],5,694,1806,0,75000,1.04,null,funding
4,https://www.crowdfunder.co.uk/lets-smash-the-p...,Let's smash the political silence on Brexit,"Everyone knows Brexit isn't working, but polit...","London, Greater London, United Kingdom",[Politics],1,407,2391,6,100000,0.6,null,funding
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,https://www.crowdfunder.co.uk/schumacher,Schumacher International Network for Change (S...,We are raising £25K in 25 days to build a virt...,Totnes,null,2,27,200,8,25225,null,25,success
1948,https://www.crowdfunder.co.uk/ipcuk-scholarships,IPCUK Scholarships,Help build a scholarship fund so that we can s...,London,null,5,26,238,27,24255,null,28,success
1949,https://www.crowdfunder.co.uk/snaffling-pig,Snaffling Pig,A porky brand with the balls to take on the sn...,,null,2,0,92,13,23600,null,42,success
1950,https://www.crowdfunder.co.uk/hookpod-technolo...,Hookpod; technology to save seabirds and turtles,We work to make longline fishing safe for mari...,"Dartington, England, United Kingdom",null,14,42,487,8,72997,null,10,success
1951,https://www.crowdfunder.co.uk/backthebike,University of Surrey - Back the Bike!,Let's pledge to bring a Pool Bike Scheme to th...,"Guildford, England, United Kingdom",null,8,100,466,22,69906,null,33,success

**Теперь обработаем нули в локациях.**

In [62]:
locnull = dfl.loc[dfl['location'] == 'null'].index
locnull

Int64Index([  11,   21,   25,   38,   41,   42,   75,   82,  109,  115,
            ...
            1719, 1750, 1757, 1784, 1794, 1809, 1837, 1852, 1890, 1896],
           dtype='int64', length=169)

In [63]:
df_joined = pd.read_pickle('df_tags_nlp.pkl')
locdes = df_joined.iloc[locnull][['href', 'title', 'description']]
locdes

,href,title,description
11,https://www.crowdfunder.co.uk/crowdfunder-cost...,Cost Of Living Emergency Fund,"[millions, uk, households, facing, rising, liv..."
21,https://www.crowdfunder.co.uk/brass-blast,BRASS BLAST all-welcome youth band!,"[accessible, inclusive, creative, music, makin..."
25,https://www.crowdfunder.co.uk/stockton-hockey-...,Stockton hockey club ground improvement,"[aim, improve, fencing, around, egglescliffe, ..."
38,https://www.crowdfunder.co.uk/togc-bounce-back,Help TOGC Bounce Back Bigger and Better!,"[tamworth, olympic, gymnastics, club, want, bo..."
41,https://www.crowdfunder.co.uk/lifeatno27-bryna...,Therapy Allotments for Brynawel House,"[life, needs, build, new, therapy, garden, off..."
...,...,...,...
1809,https://www.crowdfunder.co.uk/hackney-aquatics...,Hackney Aquatics Club COVID-19 Appeal,"[need, raise, keep, club, running, support, fa..."
1837,https://www.crowdfunder.co.uk/emergency-appeal...,Emergency appeal for Chefs in Schools,"[help, chefs, schools, feed, children, nutriti..."
1852,https://www.crowdfunder.co.uk/support-city-of-...,City of Bristol Aquatics Club COVID Appeal,"[contribute, towards, lost, income, cancelled,..."
1890,https://www.crowdfunder.co.uk/bringbackbrighto...,#SaveOurTheatres - Bring Back Brighton Dome,"[we’re, part, saveourtheatres, initiative, lau..."
1896,https://www.crowdfunder.co.uk/trusselltrust,Trussell Trust food banks need your support,"[help, support, food, banks, time, uncertainty]"

Обработаем описания и тайтлы, чтобы по ним определять локации.

In [64]:
locdes.title = locdes.title.apply(lambda x: x.lower().split())

In [65]:
locdes.title = locdes.title.apply(lambda x: [''.join(char for char in item if char not in string.punctuation) for item in x])

In [66]:
locdes

,href,title,description
11,https://www.crowdfunder.co.uk/crowdfunder-cost...,"[cost, of, living, emergency, fund]","[millions, uk, households, facing, rising, liv..."
21,https://www.crowdfunder.co.uk/brass-blast,"[brass, blast, allwelcome, youth, band]","[accessible, inclusive, creative, music, makin..."
25,https://www.crowdfunder.co.uk/stockton-hockey-...,"[stockton, hockey, club, ground, improvement]","[aim, improve, fencing, around, egglescliffe, ..."
38,https://www.crowdfunder.co.uk/togc-bounce-back,"[help, togc, bounce, back, bigger, and, better]","[tamworth, olympic, gymnastics, club, want, bo..."
41,https://www.crowdfunder.co.uk/lifeatno27-bryna...,"[therapy, allotments, for, brynawel, house]","[life, needs, build, new, therapy, garden, off..."
...,...,...,...
1809,https://www.crowdfunder.co.uk/hackney-aquatics...,"[hackney, aquatics, club, covid19, appeal]","[need, raise, keep, club, running, support, fa..."
1837,https://www.crowdfunder.co.uk/emergency-appeal...,"[emergency, appeal, for, chefs, in, schools]","[help, chefs, schools, feed, children, nutriti..."
1852,https://www.crowdfunder.co.uk/support-city-of-...,"[city, of, bristol, aquatics, club, covid, app...","[contribute, towards, lost, income, cancelled,..."
1890,https://www.crowdfunder.co.uk/bringbackbrighto...,"[saveourtheatres, , bring, back, brighton, dome]","[we’re, part, saveourtheatres, initiative, lau..."
1896,https://www.crowdfunder.co.uk/trusselltrust,"[trussell, trust, food, banks, need, your, sup...","[help, support, food, banks, time, uncertainty]"

Попробуем готовый список больших городов UK.

In [21]:
gb = pd.read_csv(r'C:\Users\anfey\Desktop\gb.csv')
gb

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,London,51.5072,-0.1275,United Kingdom,GB,"London, City of",primary,11262000,8825001
1,Birmingham,52.4800,-1.9025,United Kingdom,GB,Birmingham,NaN,2919600,1137100
2,Manchester,53.4794,-2.2453,United Kingdom,GB,Manchester,NaN,2705000,547627
3,Liverpool,53.4075,-2.9919,United Kingdom,GB,Liverpool,NaN,864122,513441
4,Portsmouth,50.8058,-1.0872,United Kingdom,GB,Portsmouth,NaN,855679,248440
...,...,...,...,...,...,...,...,...,...
675,Harton,54.8810,-1.5340,United Kingdom,GB,South Tyneside,NaN,2878,2878
676,Kinghorn,56.0700,-3.1700,United Kingdom,GB,Fife,NaN,2840,2840
677,Appledore,51.0525,-4.1945,United Kingdom,GB,Devon,NaN,2814,2814
678,New Earswick,53.9920,-1.0724,United Kingdom,GB,York,NaN,2737,2737
679,Bushbury,52.6200,-2.1130,United Kingdom,GB,Wolverhampton,NaN,2600,2600

In [ ]:
gb_list  = list(gb['city']) # трансформируем в список
gb_list = [y.lower() for y in gb_list]

In [ ]:
locdes['title'] # переведём названия в tuple для цикла
titles = list(zip(locdes['title'],locdes['title'].index))

In [68]:
for item in titles: # мы заполнили довльно мало нулей
    lst = item[0]
    ind = item[1]
    for word in lst:
        if word in gb_list:
            print(word.capitalize(), ind)
            dfl.loc[ind, 'location'] = word.capitalize()

March 299
London 404
London 442
Liverpool 463
London 555
Belfast 572
Manchester 592
London 628
London 675
London 687
London 703
London 764
London 789
London 791
Liverpool 853
Belfast 909
Liverpool 958
Brixton 1219
March 1255
Oxford 1362
Sutton 1608
London 1784
London 1784
Lambeth 1794
Hackney 1809
Bristol 1852

In [58]:
dfl.isnull().sum()

href           0
title          1
description    1
location       0
tags           0
upd            0
comm           0
supp           0
rewards_num    0
money          0
rate           0
days           0
status         1
dtype: int64

In [69]:
dfl.loc[dfl['location'] == 'null']

,href,title,description,location,tags,upd,comm,supp,rewards_num,money,rate,days,status
11,https://www.crowdfunder.co.uk/crowdfunder-cost...,Cost Of Living Emergency Fund,Millions of UK households are facing rising li...,null,"[Community, Charities]",5,60,735,0,null,null,null,funding
21,https://www.crowdfunder.co.uk/brass-blast,BRASS BLAST all-welcome youth band!,"Accessible, inclusive and creative music makin...",null,"[Creative & Arts, Music]",1,73,161,5,null,null,null,funding
25,https://www.crowdfunder.co.uk/stockton-hockey-...,Stockton hockey club ground improvement,We aim to improve the fencing around Egglescli...,null,"[Community, Sports]",4,113,168,45,null,null,null,funding
38,https://www.crowdfunder.co.uk/togc-bounce-back,Help TOGC Bounce Back Bigger and Better!,At Tamworth Olympic Gymnastics Club we want to...,null,"[Community, Sports]",4,46,187,39,20000,0.74,null,funding
41,https://www.crowdfunder.co.uk/lifeatno27-bryna...,Therapy Allotments for Brynawel House,Life at No.27 needs to build a new therapy gar...,null,"[Community, Environment]",5,16,66,6,30000,1.26,null,funding
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1750,https://www.crowdfunder.co.uk/mockcop26,Fund Mock COP26 and drive global climate action,"In November 2020, the youth of the world led b...",null,[Charities],8,332,553,0,null,null,null,success
1757,https://www.crowdfunder.co.uk/dart-gig-club-bo...,Dart Gig Club Boat Shelter,Building a shelter to protect our traditional ...,null,"[Community, Sports]",5,112,230,26,null,null,null,success
1837,https://www.crowdfunder.co.uk/emergency-appeal...,Emergency appeal for Chefs in Schools,Help Chefs in Schools to feed children nutriti...,null,[Charities],0,46,128,0,null,null,null,success
1890,https://www.crowdfunder.co.uk/bringbackbrighto...,#SaveOurTheatres - Bring Back Brighton Dome,We’re part of the #SaveOurTheatres initiative ...,null,"[Film and Theatre, Creative & Arts]",10,287,966,19,null,null,null,success
1896,https://www.crowdfunder.co.uk/trusselltrust,Trussell Trust food banks need your support,"With your help, we can support food banks duri...",null,[Charities],3,286,1118,0,null,null,null,success

Создадим новый датафрейм с оставшимися нулями и проведём такую же процедуру заполнения нулей.

In [72]:
locnull1 = dfl.loc[dfl['location'] == 'null'].index
locnull1

Int64Index([  11,   21,   25,   38,   41,   42,   75,   82,  109,  115,
            ...
            1638, 1646, 1660, 1713, 1719, 1750, 1757, 1837, 1890, 1896],
           dtype='int64', length=144)

In [76]:
locdes1 = df_joined.iloc[locnull1][['href', 'title', 'description']]
locdes1.title = locdes1.title.apply(lambda x: x.lower().split())
locdes1.title = locdes1.title.apply(lambda x: [''.join(char for char in item if char not in string.punctuation) for item in x])

In [77]:
locdes1

,href,title,description
11,https://www.crowdfunder.co.uk/crowdfunder-cost...,"[cost, of, living, emergency, fund]","[millions, uk, households, facing, rising, liv..."
21,https://www.crowdfunder.co.uk/brass-blast,"[brass, blast, allwelcome, youth, band]","[accessible, inclusive, creative, music, makin..."
25,https://www.crowdfunder.co.uk/stockton-hockey-...,"[stockton, hockey, club, ground, improvement]","[aim, improve, fencing, around, egglescliffe, ..."
38,https://www.crowdfunder.co.uk/togc-bounce-back,"[help, togc, bounce, back, bigger, and, better]","[tamworth, olympic, gymnastics, club, want, bo..."
41,https://www.crowdfunder.co.uk/lifeatno27-bryna...,"[therapy, allotments, for, brynawel, house]","[life, needs, build, new, therapy, garden, off..."
...,...,...,...
1750,https://www.crowdfunder.co.uk/mockcop26,"[fund, mock, cop26, and, drive, global, climat...","[november, youth, world, led, example, show, w..."
1757,https://www.crowdfunder.co.uk/dart-gig-club-bo...,"[dart, gig, club, boat, shelter]","[building, shelter, protect, traditional, wood..."
1837,https://www.crowdfunder.co.uk/emergency-appeal...,"[emergency, appeal, for, chefs, in, schools]","[help, chefs, schools, feed, children, nutriti..."
1890,https://www.crowdfunder.co.uk/bringbackbrighto...,"[saveourtheatres, , bring, back, brighton, dome]","[we’re, part, saveourtheatres, initiative, lau..."
1896,https://www.crowdfunder.co.uk/trusselltrust,"[trussell, trust, food, banks, need, your, sup...","[help, support, food, banks, time, uncertainty]"

In [ ]:
locdes1['title']
titles1 = list(zip(locdes1['title'],locdes1['title'].index))

Для этого пришлось написать парсер маленьких городов Великобритании, всего примерно 40 000.

In [86]:
# функция, которая собирает суп страницы
from selenium import webdriver
from bs4 import BeautifulSoup

def get_soup(url):
    driver = webdriver.Chrome()
    driver.maximize_window()
    driver.get(url)
    pageSource = driver.page_source
    driver.quit()
    return BeautifulSoup(pageSource , "html.parser")

In [88]:
soup = get_soup('https://www.city-town.uk/country-england.html?page=2')

In [98]:
# собираем имена всех городов со страницы
def get_cit(soup):
    pagedata = soup.find_all('h2', {'class': 'alv'})
    cit_list = []
    for item in pagedata:
        town = item.a.get('title')
        cit_list.append(town)
    return cit_list

In [99]:
get_cit(soup)

['Doncaster',
 'Stockport',
 'Sunderland',
 'Sefton',
 'Bolton',
 'Kingston upon Hull',
 'Walsall',
 'Plymouth',
 'Brighton and Hove',
 'Rotherham',
 'Stoke-on-Trent',
 'Wolverhampton',
 'Milton Keynes',
 'Derby',
 'Southampton',
 'Reading',
 'Salford',
 'Barnsley',
 'Oldham',
 'Northampton',
 'Portsmouth',
 'Solihull',
 'Luton',
 'Rochdale',
 'York',
 'Swindon',
 'Warrington',
 'Gateshead',
 'Bury',
 'Colchester']

In [102]:
# проходим по всем страницам
from tqdm.notebook import tqdm
import time

MAIN_URL = 'https://www.city-town.uk/country-england.html?'

data = []
fails = []
for p in tqdm(range(1, 720)):
    url = MAIN_URL + f'page={p}'
    try:
        tree = get_soup(url)
        cities = get_cit(tree)
        data.extend(cities)
        time.sleep(0.1)
    except:
        fails.append(url)

  0%|          | 0/719 [00:00<?, ?it/s]

In [105]:
# проходим по всем страницам из фейлов
from tqdm.notebook import tqdm
import time

MAIN_URL = 'https://www.city-town.uk/country-england.html?'

fails = []
for p in tqdm([167,175, 181, 182, 183, 184, 185, 186, 193, 197, 198, 199 ]):
    url = MAIN_URL + f'page={p}'
    try:
        tree = get_soup(url)
        cities = get_cit(tree)
        data.extend(cities)
        time.sleep(0.1)
    except:
        fails.append(url)

  0%|          | 0/12 [00:00<?, ?it/s]

In [ ]:
data = [y.lower() for y in data]

In [ ]:
import json # сохраняем список

with open("file.json", 'w') as f:
    # indent=2 is not needed but makes the file human-readable 
    # if the data is nested
    json.dump(data, f, indent=2) 

with open("file.json", 'r') as f:
    data = json.load(f)

In [110]:
for item in titles1:
    lst = item[0]
    ind = item[1]
    for word in lst:
        if word in data:
            print(word.capitalize(), ind)
            dfl.loc[ind, 'location'] = word.capitalize()

Stockton 25
Old 82
Lincoln 165
Lewes 211
Stocksfield 263
Aireborough 377
Hope 412
Tamworth 706
Ludlow 861
Ramsden 876
Old 1166
Oldham 1237
Lewes 1453
Wall 1638
Duffield 1719

In [112]:
dfl.loc[dfl['location'] == 'null']

,href,title,description,location,tags,upd,comm,supp,rewards_num,money,rate,days,status
11,https://www.crowdfunder.co.uk/crowdfunder-cost...,Cost Of Living Emergency Fund,Millions of UK households are facing rising li...,null,"[Community, Charities]",5,60,735,0,null,null,null,funding
21,https://www.crowdfunder.co.uk/brass-blast,BRASS BLAST all-welcome youth band!,"Accessible, inclusive and creative music makin...",null,"[Creative & Arts, Music]",1,73,161,5,null,null,null,funding
38,https://www.crowdfunder.co.uk/togc-bounce-back,Help TOGC Bounce Back Bigger and Better!,At Tamworth Olympic Gymnastics Club we want to...,null,"[Community, Sports]",4,46,187,39,20000,0.74,null,funding
41,https://www.crowdfunder.co.uk/lifeatno27-bryna...,Therapy Allotments for Brynawel House,Life at No.27 needs to build a new therapy gar...,null,"[Community, Environment]",5,16,66,6,30000,1.26,null,funding
42,https://www.crowdfunder.co.uk/yemen-emergency-...,Yemen Emergency Appeal (Medical & Food Aid),Marwa Relief is raising funds to urgently supp...,null,[Charities],1,69,177,0,15000,1.35,null,funding
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1750,https://www.crowdfunder.co.uk/mockcop26,Fund Mock COP26 and drive global climate action,"In November 2020, the youth of the world led b...",null,[Charities],8,332,553,0,null,null,null,success
1757,https://www.crowdfunder.co.uk/dart-gig-club-bo...,Dart Gig Club Boat Shelter,Building a shelter to protect our traditional ...,null,"[Community, Sports]",5,112,230,26,null,null,null,success
1837,https://www.crowdfunder.co.uk/emergency-appeal...,Emergency appeal for Chefs in Schools,Help Chefs in Schools to feed children nutriti...,null,[Charities],0,46,128,0,null,null,null,success
1890,https://www.crowdfunder.co.uk/bringbackbrighto...,#SaveOurTheatres - Bring Back Brighton Dome,We’re part of the #SaveOurTheatres initiative ...,null,"[Film and Theatre, Creative & Arts]",10,287,966,19,null,null,null,success
1896,https://www.crowdfunder.co.uk/trusselltrust,Trussell Trust food banks need your support,"With your help, we can support food banks duri...",null,[Charities],3,286,1118,0,null,null,null,success

In [ ]:
locdes1['description']
desc1 = list(zip(locdes1['description'],locdes1['description'].index))

In [123]:
for item in desc1:
    lst = item[0]
    ind = item[1]
    for word in lst:
        if word in data:
            print(word.capitalize(), ind)
            dfl.loc[ind, 'location'] = word.capitalize()

Egglescliffe 25
Tamworth 38
Old 82
Lincoln 165
Lewes 211
Lincoln 289
London 363
London 468
Send 489
London 568
London 582
London 586
Tamworth 706
Wisbech 757
Tamworth 784
Wisbech 815
London 889
London 891
London 904
Liverpool 919
Well 934
Winchester 1057
Old 1166
London 1179
Deal 1290
Lead 1298
Street 1321
London 1321
London 1381
London 1381
Bournemouth 1555
Ipswich 1595
Rugby 1595
Wall 1638

Какие-то нули заполнены. Фан фэкт: на n дней Рамадана какая-то организация в Шеффилде запускала крауд проект каждый день.

In [137]:
for item in desc1:
    lst = item[0]
    ind = item[1]
    for word in lst:
        if word in ['assalamu','alaikum', 'assalam', 'alikum']: # моя любимая часть
            print(ind)
            dfl.loc[ind, 'location'] = 'Sheffield'

294
294
420
420
529
529
620
620
627
627
633
633
638
638
654
654
708
708
726
726
736
736
759
759
779
779
795
795
805
805
809
809
823
823
824
824
840
840
845
845
848
848
884
884
894
894

In [143]:
dfl.loc[948, 'location'] = 'Sheffield'

In [151]:
dfl.loc[1890, 'location'] = 'Brighton'

In [154]:
ind = dfl.loc[dfl['location'] == 'null'].index

Многие проекты без привязки к городу, то есть на всю страну.

In [155]:
dfl.loc[ind, 'location'] = 'UK'

In [160]:
df_joined.drop('location', axis = 1, inplace = True) # заменяем признак локации

In [161]:
df_joined['location'] = dfl['location']

In [164]:
df_joined['location']

0                  London, Greater London, United Kingdom
1                  London, Greater London, United Kingdom
2                  London, Greater London, United Kingdom
3       Newcastle upon Tyne, Tyne and Wear, United Kin...
4                  London, Greater London, United Kingdom
                              ...
1947                                               Totnes
1948                                               London
1949
1950                  Dartington, England, United Kingdom
1951                   Guildford, England, United Kingdom
Name: location, Length: 1952, dtype: object

In [166]:
df_joined.to_pickle('df_locs_tags_nlp.pkl')

In [183]:
dfj = pd.read_pickle('df_locs_tags_nlp.pkl')
dfj.drop('tags', axis = 1)
dfj.drop('tags_null', axis = 1)

,href,title,description,tags,upd,comm,supp,rewards_num,money,rate,...,tags_Tourism,tags_Transport,tags_Travel,tags_University,tags_Venue,sentiment_score,ps_capital,inn_score,eco_score,location
0,https://www.crowdfunder.co.uk/free-assange,Help campaign to Free Julian Assange,"[help, campaign, free, julian, assange, stop, ...","[Community, Personal Causes]",22,1242,3576,0,300000,0.61,...,0,0,0,0,0,0.7840,0,0,0,"London, Greater London, United Kingdom"
1,https://www.crowdfunder.co.uk/blackout2023,Black Out 2023 | Cannes Lions Festival,"[taking, black, talent, connected, creative, i...","[Business, Music]",0,9,24,0,100000,0.84,...,0,0,0,0,0,0.9217,0,2,0,"London, Greater London, United Kingdom"
2,https://www.crowdfunder.co.uk/50-days-to-make-...,50 Days to Make a Difference,"[scientists, curate, portfolio, effective, cli...",[Environment],0,11,68,3,150000,0.55,...,0,0,0,0,0,0.7430,1,0,2,"London, Greater London, United Kingdom"
3,https://www.crowdfunder.co.uk/saveside,#SAVESIDE,"[april, side, gallery, close, public, due, cri...",[Creative & Arts],5,694,1806,0,75000,1.04,...,0,0,0,0,0,-0.7096,0,0,0,"Newcastle upon Tyne, Tyne and Wear, United Kin..."
4,https://www.crowdfunder.co.uk/lets-smash-the-p...,Let's smash the political silence on Brexit,"[everyone, knows, brexit, working, politicians...",[Politics],1,407,2391,6,100000,0.6,...,0,0,0,0,0,0.0000,0,0,0,"London, Greater London, United Kingdom"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,https://www.crowdfunder.co.uk/schumacher,Schumacher International Network for Change (S...,"[raising, days, build, virtual, campus, connec...",null,2,27,200,8,25225,null,...,0,0,0,0,0,0.5106,0,0,0,Totnes
1948,https://www.crowdfunder.co.uk/ipcuk-scholarships,IPCUK Scholarships,"[help, build, scholarship, fund, support, prac...",null,5,26,238,27,24255,null,...,0,0,0,0,0,0.6597,0,0,0,London
1949,https://www.crowdfunder.co.uk/snaffling-pig,Snaffling Pig,"[porky, brand, balls, take, snack, market, inn...",null,2,0,92,13,23600,null,...,0,0,0,0,0,0.7184,1,1,0,
1950,https://www.crowdfunder.co.uk/hookpod-technolo...,Hookpod; technology to save seabirds and turtles,"[work, make, longline, fishing, safe, marine, ...",null,14,42,487,8,72997,null,...,0,0,0,0,0,0.4404,0,0,0,"Dartington, England, United Kingdom"
1951,https://www.crowdfunder.co.uk/backthebike,University of Surrey - Back the Bike!,"[lets, pledge, bring, pool, bike, scheme, univ...",null,8,100,466,22,69906,null,...,0,0,0,0,0,0.0000,0,0,0,"Guildford, England, United Kingdom"